:root {
  --primary: #86b6f6;
  --primary-dark: #176b87;
  --primary-light: #b4d4ff;
  --background: #eef5ff;
  --text: #1a1a1a;
}

body {
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
}

*:not(i) {
  color: var(--text);
}

nav {
  background-color: rgba(238, 245, 255, 0.4);
  backdrop-filter: blur(5px);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.navbar-brand {
  background: -webkit-linear-gradient(
    34deg,
    var(--primary) 7%,
    var(--primary-dark) 88%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-brand:focus {
  color: var(--primary-light);
}

.navbar-toggler {
  border: 0;
}

button.navbar-toggler:focus {
  border: 0;
  box-shadow: none;
}

.nav-link {
  color: #1a1a1a;
  transition: 0.3s;
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--primary-dark);
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background: var(--background);
  background: linear-gradient(
    180deg,
    var(--background) 25%,
    var(--primary-light) 69%,
    var(--primary-dark) 100%
  );
  z-index: -1;
  border-bottom-left-radius: 20em;
  border-bottom-right-radius: 20em;
}

#intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#intro span,
span:not(.navbar-toggler-icon),
#benefits i,
.benefit-item h5 {
  background: -webkit-linear-gradient(
    34deg,
    var(--text) 7%,
    var(--primary-dark) 88%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro p span {
  font-weight: 500;
}

#dehydration h2 {
  margin-bottom: 2em;
}

.dehydration-item,
.drinkability-item {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 1em;
  transition: 0.3s;
}

.dehydration-item:hover {
  box-shadow: 0 0 10px 1px var(--text);
  transform: scale(1.1);
}

.dehydration-img,
.drinkability-img {
  height: 150px;
  display: block;
  margin-inline: auto;
}

.dehydration-item h5 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

#benefits {
  border-radius: 5em;
  background-color: var(--primary);
}

.benefits-illustration {
  width: 100%;
}

#benefits h2 {
  margin-bottom: 2em;
}

#benefits i {
  font-size: 1.5em;
  padding-top: 0.5em;
  display: block;
  text-align: right;
}

.benefit-item h5 {
  width: fit-content;
}

.drinkability-item h5 {
  margin-top: 1em;
}

#needs {
  border-top-left-radius: 5em;
  border-top-right-radius: 5em;
  background-color: var(--primary);
}

.needs-img {
  display: block;
  margin-inline: auto;
  width: 100%;
}

.needs-p span {
  font-weight: 500;
  color: var(--background) !important;
}

footer p a {
  text-decoration: none;
  color: var(--primary);
  transition: 0.3s;
}

footer p a:hover {
  color: var(--primary-dark);
}

.closure {
  font-weight: bold;
  color: var(--primary-dark);
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  svg {
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
  }

  .dehydration-item:hover {
    transform: scale(0.9);
  }

  .benefits-illustration {
    height: 200px;
    width: unset;
    display: block;
    margin-inline: auto;
    margin-bottom: 2em;
  }

  .benefit-item .row {
    justify-content: stretch;
  }

  #needs {
    text-align: center;
  }

  .benefit-items {
    margin-top: 2em;
  }
}
